@import '~styles/variables';

.form-elements {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1440px;
  margin: auto;
  padding: 14.3rem 14.1rem 14rem;
  background: url('./img/ui-kit-logo.svg')
    3rem 3rem/4.8rem 4.8rem no-repeat;

  &__column {
    width: 32rem;
    min-height: 31.7rem;

    &_shifted-right {
      margin-left: 5.4rem;
    }

    &_shifted-down {
      margin-top: 0.6rem;
    }

    &_wide {
      width: 71.1rem;
    }
  }

  &__item {
    margin-bottom: 4.1rem;
  }

  &__title {
    margin-bottom: 1.5rem;
    color: $color_main;
    font-family: $font-family_h3;
    font-size: $font-size_h3;
    line-height: 1.5rem;
    text-transform: uppercase;
  }

  &__text-field {
    margin-bottom: 2.1rem;
  }

  &__subscription {
    margin-bottom: 9.8rem;
  }

  &__checkbox-list {
    width: 22.2rem;
    margin-bottom: 4rem;

    &_wide {
      width: 26rem;
    }
  }

  &__toggle-group {
    margin-bottom: 4.6rem;
  }

  &__toggle {
    margin-bottom: 1.4rem;
  }

  &__like-button {
    display: inline-block;
    margin-right: 1rem;
  }

  &__rate-button {
    display: inline-block;
    margin-right: 2rem;
  }

  &__slider {
    width: 26.5rem;
    margin-bottom: 4rem;
  }

  &__button {
    height: 4.4rem;
    margin-bottom: 3rem;

    &_small {
      width: 10.1rem;
    }

    &_inline {
      display: inline-block;
      margin-right: 2rem;
      margin-bottom: 0.2rem;
    }
  }

  &__pagination {
    display: flex;
  }

  &__bullet-list {
    width: 26rem;
  }

  &__comment {
    margin-top: 1rem;
  }
}
