.list-feature {
  max-width: 29.1rem;
  padding-right: 1rem;
  list-style: none;

  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 0.1rem solid $color_main-10;

    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: 0;
    }
  }

  &__icon {
    margin-right: 1rem;
    background: $color-grad_prim;
    background-clip: text;
    -webkit-text-fill-color: transparent; // WebKit only
    color: $color_prim;
    font-size: 4.8rem;
    user-select: none;
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 4.8rem;
    color: $color_main-75;
    font-family: $font-family_body;
    font-size: $font-size_body;
    line-height: 172%;
  }

  &__title {
    font-weight: bold;
  }
}
