block variables

block mixins

doctype html
html(lang="en")

  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="../../../node_modules/material-icons/iconfont/material-icons.css")
    link(rel="stylesheet", href="../../../node_modules/@fortawesome/fontawesome-free/css/fontawesome.css")
    link(rel="stylesheet", href="../../../node_modules/@fortawesome/fontawesome-free/css/brands.css")
    link(rel="stylesheet", href="../../styles/style.scss")
    title #{pageTitle}

  body

    block content

    block scripts
      script(src="../../scripts/main.js")
