.form-elements {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1440px;
  max-height: 1853px;
  padding: 14.5rem 14.1rem 14rem 14rem;
  background: url('../pages/ui-kit/img/ui-kit__logo.svg') no-repeat 30px 30px;
  background-size: 4.8rem 4.8rem;

  &__column {
    width: 320px;
    min-height: 315px;

    &_shifted-right {
      margin-left: 5.4rem;
    }

    &_shifted-down {
      margin-top: 0.6rem;
    }

    &_wide {
      width: 711px;
    }
  }

  &__item {
    margin-bottom: 4.4rem;
  }

  &__title {
    font-family: $font-family_h3;
    font-size: $font-size_h3;
    color: $color_main;
    text-transform: uppercase;
    margin-bottom: 1.6rem;
  }

  &__text-field {
    margin-bottom: 2.4rem;
  }

  &__subscription {
    margin-bottom: 10.2rem;
  }

  &__checkbox-list {
    width: 222px;
    margin-bottom: 4rem;

    &_wide {
      width: 260px;
    }
  }

  &__toggle-group {
    margin-bottom: 4.7rem;
  }

  &__toggle {
    margin-bottom: 1.4rem;
  }

  &__like-button {
    display: inline-block;
    margin-right: 1rem;
  }

  &__rate-button {
    display: inline-block;
    margin-right: 2rem;
  }

  &__slider {
    width: 26.5rem;
    margin-top: 0.1rem;
    margin-bottom: 4.1rem;
  }

  &__button {
    height: 44px;
    margin-bottom: 3rem;

    &_small {
      width: 99px;
    }

    &_inline {
      display: inline-block;
      margin-right: 2rem;
      margin-bottom: 0.2rem;
    }
  }

  &__pagination {
    display: flex;
    margin-top: -0.1rem;
  }

  &__bullet-list {
    width: 260px;
  }

  &__comment {
    margin-top: 1rem;
    margin-left: -0.1rem;
  }
}
