extends ./_layout.pug

block append variables
  - const pageTitle = "Form Elements"

block content

  .form-elements
    .form-elements__column
      .form-elements__item
        .form-elements__text-field
          +input-field({inpType: "email", labelText: "Text field"})
        .form-elements__text-field
          +input-field({labelText: "Text field"})(value="This is pretty awesome")
        .form-elements__text-field
          +input-field({inpType: "mask-date", labelText: "Masked Text Field"})
        .form-elements__text-field
          +subscription({labelText: "Subscription Text Field"})

    .form-elements__column.form-elements__column_shifted
      .form-elements__item
        .form-elements__checkbox-list
          +list-checkbox({
            listTitle: "Checkbox Buttons",
            listItems: [
              {labelText: "Можно курить"},
              {labelText: "Можно с питомцами", addAttributes: {checked: true, name: "test"}},
              {labelText: "Можно пригласить гостей (до 10 человек)", addAttributes: {checked: true}}
            ]
          })

      .form-elements__item
        h3.form-elements__title Radio Buttons
        .form-elements__radio
          +input-radio({labelText: "Мужчина"})(name="sex" checked)
        .form-elements__radio
          +input-radio({labelText: "Женщина"})(name="sex")

      .form-elements__item
        h3.form-elements__title Toggle
        .form-elements__toggle
          +input-toggle({labelText: "Получать спецпредложения"})(checked)
        .form-elements__toggle
          +input-toggle({labelText: "Получать спецпредложения"})

      .form-elements__item
        h3.form-elements__title Like Button
        .form-elements__like-button
          +button-like({likeCount: 2})
        .form-elements__like-button
          +button-like({likeCount: 12, active: true})

      .form-elements__item
        h3.form-elements__title Rate Button
        .form-elements__rate-button
          +rating({value: 4})
        .form-elements__rate-button
          +rating({value: 5})

    .form-elements__column
      .form-elements__item
        h3.form-elements__title Buttons
        .form-elements__button.form-elements__button_small
          +button({btnText: "Click me"})
        .form-elements__button.form-elements__button_small
          +button({btnText: "Click me", btnStyle: "ghost"})
        .form-elements__button.form-elements__button_inline
          +button({btnText: "Click me", btnStyle: "as-text"})
        .form-elements__button.form-elements__button_inline
          +button({btnText: "Click me", btnStyle: "as-text as-text_faint"})
        .form-elements__button
          +button({btnText: "Перейти к оплате", withArrow: true})

      .form-elements__item
        h3.form-elements__title Pagination
        +pagination({itemsNumber: 180, itemsPerPage: 12, baseHref: "#mock-address", addDescription: "вариантов аренды"})

    .form-elements__column
      .form-elements__item
        .form-elements__checkbox-list.form-elements__checkbox-list_wide
          +list-checkbox({
            expandable: true,
            listTitle: "Expandable Checkbox List",
            listItems: [
              {labelText: "Завтрак"},
              {labelText: "Письменный стол", addAttributes: {checked: true}},
              {labelText: "Стул для кормления", addAttributes: {checked: true}},
              {labelText: "Кроватка", addAttributes: {checked: true}},
              {labelText: "Телевизор"},
              {labelText: "Шампунь"},
              {labelText: "Телевизор"},
              {labelText: "Шампунь"}
            ]
          })

    .form-elements__column
      .form-elements__item
        .form-elements__checkbox-list.form-elements__checkbox-list_wide
          +list-checkbox({
            listTitle: "Rich Checkbox Buttons",
            listItems: [
              {
                inpStyle: "rich",
                labelText: "Широкий коридор",
                labelDescription: "Ширина коридоров в номере не менее 91 см."
              },
              {
                inpStyle: "rich",
                labelText: "Помощник для инвалидов",
                labelDescription: "На 1 этаже вас встретит специалист  и проводит до номера."
              }
            ]
          })

    .form-elements__column
      .form-elements__item
        h3.form-elements__title Bullet List
        +list-bullet({
          listItems: [
            "Нельзя с питомцами",
            "Без вечеринок и мероприятий",
            "Время прибытия — после 13:00, а выезд до 12:00"
          ]
        })

    .form-elements__column
      .form-elements__item
        +list-feature({
          listItems: [
            {text: "Комфорт", description: "Шумопоглощающие стены"},
            {text: "Удобство", description: "Окно в каждой из спален"}
          ]
        })

    .form-elements__column.form-elements__column_wide
      .form-elements__item
        +comment({
          userName: "Мурад сарафанов",
          userPicture: "comment__picture_male-1.png",
          date: "5 дней назад",
          likeCount: 12,
          likeActive: true,
          text: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей."
        })
