@import '../../styles/variables';

.button {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  max-width: 32rem;
  max-height: 4.4rem;
  padding: 0.9rem 1.8rem;
  background: $gradient_first;
  background-origin: border-box;
  border: solid 0.2rem transparent;
  border-radius: 2.2rem;
  color: $color_background;
  font-family: $font-family_h3;
  font-weight: bold;
  font-size: $font-size_h3;
  text-transform: uppercase;
  text-decoration: none;
  user-select: none;
  outline: none;
  cursor: pointer;

  &:focus {
    box-shadow: 0 0 0.5rem $color_first;
  }

  &:hover {
    opacity: 0.5;
  }

  &:disabled {
    opacity: 0.25;
    cursor: auto;
  }

  &__arrow {
    position: absolute;
    right: 0.8rem;
  }

  &_ghost {
    background-image: linear-gradient($color_background, $color_background), $gradient_first;
    background-clip: padding-box, border-box;
    color: $color_first;

    &:hover {
      background-image: linear-gradient($color_background, $color_background), $gradient_first-50;
      opacity: 1;
    }

    &:disabled {
      background-image: linear-gradient($color_background, $color_background), $gradient_first-50;
      opacity: 0.25;
      cursor: auto;
    }
  }

  &_as-text {
    width: max-content;
    height: max-content;
    min-width: 1rem;
    min-height: 1rem;
    padding: 0;
    background: none;
    border: 0;
    border-radius: 0;
    color: $color_first;

    &:focus {
      box-shadow: 0 0 0.1rem 0.1rem $color_first;
    }

    &_faint {
      color: $color_main-50;
    }

    &_gradient {
      background: $gradient_first;
      background-clip: text;
      -webkit-text-fill-color: transparent; // WebKit only
    }
  }

  &_as-page {
    width: 4rem;
    height: 4rem;
    min-width: 4rem;
    min-height: 4rem;
    padding: 0;
    border-radius: 50%;

    &_alt {
      background-image: $gradient_second;

      &:focus {
        box-shadow: 0 0 0.5rem $color_second;
      }
    }
  }

  &_as-text &__arrow,
  &_as-page &__arrow {
    position: static;
  }
}
