.cards {
  width: 100%;

  &__container {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    max-width: 1440px;
    margin: auto;
    padding: 15rem 14rem 14rem;
    background: #F4F4F6 url('./img/ui-kit-logo.svg')
      3rem 3rem/4.8rem 4.8rem no-repeat;
  }

  &__column {
    width: 38rem;
    margin-right: 4rem;
    margin-bottom: 4rem;

    &:last-child {
      margin-right: 0;
    }

    &_width_narrow {
      width: 32rem;
    }
  }

  &__item {
    width: 100%;
    margin-bottom: 4rem;
  }
}
