mixin input-checkbox({labelText="", labelDescription, inpStyle, addAttributes})
  -
    let wrapperClass = ["input-checkbox"]
    attributes.type = "checkbox"
    for (let attr in addAttributes) {
      attributes[attr] = addAttributes[attr]
    }

  if (/rich/gi.test(inpStyle))
    - wrapperClass.push(`${wrapperClass[0]}_rich`)

  label(class=wrapperClass) #{labelText}
    if (labelDescription && /rich/gi.test(inpStyle))
      span #{labelDescription}
    input&attributes(attributes)
    .input-checkbox__box
      .input-checkbox__mark
