$width_checkbox: 2rem;
$height_checkbox: 2rem;

.input-checkbox {
  position: relative;
  display: inline-flex;
  align-items: center;
  min-height: $height_checkbox;
  padding-left: $width_checkbox + 1rem;
  color: $color_main-50;
  font-family: $font-family_body;
  font-size: $font-size_body;
  line-height: $height_checkbox;
  cursor: pointer;

  &:hover &__box {
    border-color: $color_main-50;
  }

  &__description {
    padding-top: 0.5rem;
    color: $color_main-50;
    font-weight: normal;
    font-size: $font-size_h3;
    line-height: 117%;
  }

  &__state {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }

  &__state:focus ~ &__box {
    box-shadow: 0 0 0.5rem $color_prim;
  }

  &__state:checked ~ &__box {
    border-color: $color_prim;
  }

  &__state:checked ~ &__box &__mark {
    display: inline-block;
  }

  &__box {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: $width_checkbox;
    height: $height_checkbox;
    border: 0.1rem solid $color_main-25;
    border-radius: 0.4rem;
  }

  &__mark {
    display: none;
    width: 0.6rem;
    height: 0.8rem;
    margin-bottom: 0.2rem;
    background: linear-gradient($color_back, $color_back), $color-grad_prim;
    background-origin: border-box;
    background-clip: padding-box, border-box;
    border: solid 0.2rem transparent;
    border-top: 0;
    border-left: 0;
    transform: rotate(45deg);
    backface-visibility: hidden; // engaging a more accurate render in the graphics engine to avoid outlines
  }

  &_rich {
    flex-direction: column;
    align-items: flex-start;
    height: max-content;
    color: $color_main-75;
    font-weight: bold;
  }
}
