.list-bullet {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    display: flex;
    align-items: baseline;
    margin-bottom: 10px;
    font-family: $font-family_body;
    font-size: $font-size_body;
    line-height: 24px;
    color: $color_main-75;

    &::before {
      content: '';
      display: inline-block;
      width: 10px;
      height: 10px;
      min-width: 10px;
      min-height: 10px;
      margin-right: 10px;
      background: $color_main-25;
      border-radius: 50%;
    }
  }

}
