@import '../../styles/variables';

.list-bullet {
  list-style: none;

  &__item {
    display: flex;
    align-items: baseline;
    margin-bottom: 1rem;
    color: $color_main-75;
    font-family: $font-family_body;
    font-size: $font-size_body;
    line-height: 171%;

    &::before {
      content: '';
      display: inline-block;
      width: 1rem;
      height: 1rem;
      min-width: 1rem;
      min-height: 1rem;
      margin-right: 1rem;
      background: $color_main-25;
      border-radius: 50%;
    }
  }
}
