mixin list-bullet({ listItems = [] } = {})
  -
    const blockName = 'list-bullet';
    const wrapperClass = [blockName];

  ul(class=wrapperClass)
    each item in listItems
      li(class=`${blockName}__item`) !{item}
