@import '~styles/variables';

.landing-page {
  width: 100%;
  height: 100%;
  padding: 7rem 1.5rem 2rem;
  background: $color_back url('./img/landing-page__background.png')
    bottom/cover no-repeat;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: $width-container_main;
    height: 100%;
    margin: auto;

    @media #{$breakpoint_mobile-l} {
      align-items: center;
    }
  }

  &__item {
    &:last-child {
      width: 30rem;
      align-self: flex-end;
      text-align: right;

      @media #{$breakpoint_mobile-l} {
        align-self: initial;
        text-align: center;
      }
    }
  }

  &__text {
    color: $color_main-75;
    line-height: 2.4rem;
  }
}
