@import '../../styles/variables';

$width_radio: 2rem;
$height_radio: 2rem;

.input-radio {
  position: relative;
  display: inline-flex;
  align-items: center;
  min-height: $height_radio;
  padding-left: $width_radio + 1rem;
  color: $color_main-50;
  font-family: $font-family_body;
  font-size: $font-size_body;
  line-height: $height_radio;
  cursor: pointer;

  &:hover &__box {
    border-color: $color_main-50;
  }

  &__state {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }

  &__state:focus ~ &__box {
    box-shadow: 0 0 0.5rem $color_first;
  }

  &__state:checked ~ &__text {
    color: $color_main-75;
  }

  &__state:checked ~ &__box {
    border-color: $color_first;
  }

  &__state:checked ~ &__box &__mark {
    display: inline-block;
  }

  &__box {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: $width_radio;
    height: $height_radio;
    border: 0.1rem solid $color_main-25;
    border-radius: 50%;
  }

  &__mark {
    display: none;
    width: 1.2rem;
    height: 1.2rem;
    background: $gradient_first;
    border-radius: 50%;
  }
}
