mixin input-radio({labelText=""})
  -
    const blockName = "input-radio";
    const wrapperClass = [blockName];
    attributes.type = "radio";

  label(class=wrapperClass)
    input&attributes(attributes)
    span #{labelText}
    div(class=`${blockName}__box`)
      div(class=`${blockName}__mark`)
