@import '../../styles/variables';

.comment {
  display: flex;
  width: 100%;
  color: $color_main-75;
  font-family: $font-family_body;
  font-size: $font-size_body;
  line-height: 172%;

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 1rem;
  }

  &__picture {
    width: 4.8rem;
    height: 4.8rem;
    margin-bottom: 1rem;
    border: 0.2rem solid $color_back;
    border-radius: 50%;
    box-shadow: 0 1rem 2rem $color_main-10;
    user-select: none;
  }

  &__title {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }

  &__name {
    font-weight: bold;
    text-transform: capitalize;
  }
}
