@import '../../styles/variables';

.card-room {
  width: 100%;
  max-width: 27rem;
  max-height: 25.8rem;
  background: $color_background;
  border-radius: 0.4rem;
  box-shadow: 0 1rem 2rem $color_main-5;
  overflow: hidden;
  transition: all 0.3s ease-in-out;

  &:hover {
    transform: scale(1.02);
    box-shadow: 0 0 2rem $color_main-25;
  }

  &__carousel {
    width: 100%;
    height: 15.1rem;
  }

  &__info {
    display: block;
    padding: 2rem;
    color: $color_main;
    text-decoration: none;

    &:hover {
      background: $gradient_first-25;
    }
  }

  &__info-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.8rem;
    padding-bottom: 1rem;
    border-bottom: 0.1rem solid $color_main-10;
  }

  &__header-title {
    display: inline-block;
    height: 2.4rem;
    font-weight: bold;
    line-height: 2.4rem;
  }

  &__header-room-number {
    font-family: $font-family_h2;
    font-size: $font-size_h2;
  }

  &__header-room-type {
    margin-left: 0.9rem;
    color: $color_first;
    font-size: $font-size_h3;
    text-transform: uppercase;
  }

  &__header-description {
    display: inline-block;
    height: 2rem;
    color: $color_main-50;
    font-family: $font-family_h3;
    font-size: $font-size_h3;
    line-height: 2rem;
  }

  &__header-room-price {
    font-size: $font-size_body;
    font-weight: bold;
  }

  &__info-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__footer-room-rating {
    display: inline-block;
    height: 2.4rem;
  }

  &__footer-room-reviews {
    display: inline-block;
    height: 1.8rem;
    color: $color_main-50;
    line-height: 1.8rem;
  }

  &_hidden {
    display: none;
  }
}
