.dropdown-list {
  position: relative;
  max-width: 26.6rem;

  &__input {
    position: relative;
    cursor: pointer;

    &:hover input {
      border-color: $color_main-50;
    }

    input {
      padding-right: 4.5rem;
      text-overflow: ellipsis;
      cursor: pointer;
    }

    &_active input {
      border-color: $color_main-50;
      border-radius: 0.4rem 0.4rem 0 0;
    }
  }

  &__input:hover &__icon {
    color: $color_main-75;
  }

  &__icon {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    color: $color_main-50;
    user-select: none;
    pointer-events: none;
    transition: transform 0.3s ease-in-out;

    &_active {
      transform: rotate(-180deg);
    }
  }

  &__list {
    position: absolute;
    z-index: 1;
    width: 100%;
    padding: 0 0.7rem 0 1.4rem;
    background: $color_back;
    border: 0.1rem solid $color_main-50;
    border-top: 0;
    border-radius: 0 0 0.4rem 0.4rem;
    box-shadow: 0 1rem 2rem $color_main-5;
    visibility: hidden;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: 0 0;
    transition: all 0.3s ease-in-out;

    &_active {
      padding-top: 0.6rem;
      visibility: visible;
      opacity: 1;
      transform: scaleY(1);
      transform-origin: 0 0;
    }
  }

  &__list_active &__item {
    margin-bottom: 0.7rem;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
    font-family: $font-family_h3;
    font-weight: bold;
    font-size: $font-size_h3;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
  }

  &__item-controls {
    display: flex;
    align-items: center;
  }

  &__item-btn {
    width: 3rem;
    height: 3rem;
    background: none;
    border: 0.1rem solid $color_main-25;
    border-radius: 50%;
    color: $color_main-25;
    font-family: $font-family_h3;
    font-size: 1.8rem;
    user-select: none;
    outline: none;
    cursor: pointer;

    &:focus {
      box-shadow: 0 0 0.5rem $color_main-25;
    }

    &:hover {
      border-color: $color_main-50;
    }

    &:disabled {
      border-color: $color_main-25;
      opacity: 0.38;
      cursor: auto;
    }
  }

  &__item-counter {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    text-align: center;
    line-height: 3rem;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 1.2rem;
  }

  &__btn {
    &_inactive {
      visibility: hidden;
    }
  }

  &_wide {
    max-width: 32rem;
  }
}
