.pagination {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__pages {
    margin-bottom: 1rem;
  }

  &__page {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    color: $color_main-50;
    font-family: $font-family_h3;
    font-size: $font-size_h3;
    text-decoration: none;
    user-select: none;
    outline: none;

    &:hover {
      background: $color-grad_prim-50;
      color: $color_back;
      font-weight: bold;
    }

    &_current {
      background: $color-grad_prim;
      color: $color_back;
      font-weight: bold;

      &:hover {
        background: $color-grad_prim;
      }
    }

    &_hidden {
      display: none;
    }
  }

  &__dots {
    display: none;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    color: $color_main-50;
    font-family: $font-family_h3;
    font-size: $font-size_h3;
    user-select: none;

    &_active {
      display: inline-flex;
    }
  }

  &__button-next {
    display: inline-block;
  }
}
