.input-toggle {
  position: relative;
  display: flex;
  align-items: center;
  width: max-content;
  min-height: 20px;
  padding-left: 40px + 10px;
  font-family: $font-family_body;
  font-size: $font-size_body;
  line-height: 20px;
  color: $color_main-75;
  cursor: pointer;

  &:hover {
    .input-toggle__box {
      border-color: $color_main-50;
    }
  }

  input {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0;

    &:focus {
      ~ .input-toggle__box {
        border-color: $color_main-50;
      }
    }

    &:checked {
      ~ .input-toggle__box {
        border-color: $color_prim;
        padding-left: 22px;

        .input-toggle__mark {
          background: $color-grad_prim;
        }
      }
    }
  }

  &__box {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 40px;
    height: 20px;
    padding: 4px;
    background: $color_back;
    border: 1px solid $color_main-25;
    border-radius: 10px;
    transition: padding 0.3s ease-in-out;
  }

  &__mark {
    min-width: 12px;
    min-height: 12px;
    border-radius: 50%;
    background: $color_main-25;
  }
}
