$width_toggle: 4rem;
$height_toggle: 2rem;
$width_toggle-mark: 1.2rem;

.input-toggle {
  position: relative;
  display: inline-flex;
  align-items: center;
  min-height: $height_toggle;
  padding-left: $width_toggle + 1rem;
  color: $color_main-75;
  font-family: $font-family_body;
  font-size: $font-size_body;
  line-height: $height_toggle;
  cursor: pointer;

  &:hover &__box {
    border-color: $color_main-50;
  }

  &__state {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }

  &__state:focus ~ &__box {
    box-shadow: 0 0 0.5rem $color_prim;
  }

  &__state:checked ~ &__box {
    border-color: $color_prim;
    padding-left: $width_toggle - $width_toggle-mark - 0.4rem - 2*0.1rem;
  }

  &__state:checked ~ &__box &__mark {
    background: $color-grad_prim;
  }

  &__box {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    width: $width_toggle;
    height: $height_toggle;
    padding: 0.4rem;
    border: 0.1rem solid $color_main-25;
    border-radius: 1rem;
    transition: padding 0.3s ease-in-out;
  }

  &__mark {
    display: inline-block;
    min-width: $width_toggle-mark;
    min-height: $width_toggle-mark;
    background: $color_main-25;
    border-radius: 50%;
  }
}
