mixin input-toggle({labelText=""})
  -
    const blockName = "input-toggle";
    const wrapperClass = [blockName];
    attributes.type = "checkbox";

  label(class=wrapperClass) #{labelText}
    input&attributes(attributes)
    div(class=`${blockName}__box`)
      div(class=`${blockName}__mark`)
