@import '~styles/variables';

.registration {
  width: 100%;
  padding: 1.9rem 1.5rem;
  background: $color_back url('./img/registration__background.png')
    bottom/cover no-repeat;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: $width-container_main;
    height: 100%;
    margin: auto;
  }
}
