extends ../_layout.pug

block append variables
  - const pageTitle = 'Registration'

block append mixins
  include ../../../blocks/card-signup/card-signup.pug

block content
  main.registration
    .registration__container
      +card-signup({ formAction: '#mock-address', signinHref: './sign-in.html' })
