@import '../../styles/variables';

.button-like {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  width: 4rem;
  height: 2rem;
  padding: 0 0.5rem;
  background: $color_background;
  background-origin: border-box;
  border: solid 0.1rem $color_main-25;
  border-radius: 1rem;
  color: $color_main-25;
  font-family: $font-family_h3;
  font-size: 1rem;
  user-select: none;
  outline: none;
  cursor: pointer;

  &:focus {
    box-shadow: 0 0 0.5rem $color_first;
  }

  &:hover {
    border-color: $color_main-50;
  }

  &__icon {
    margin-right: 0.5rem;
    font-size: 1rem;
  }

  &_active {
    background-image: linear-gradient($color_background, $color_background), $gradient_first;
    background-clip: padding-box, border-box;
    border-color: transparent;
    color: $color_first;
  }
}
