.rating {
  display: inline-block;
  user-select: none;

  &__icon {
    background: $color-grad_prim;
    background-clip: text;
    -webkit-text-fill-color: transparent; // WebKit only
    color: $color_prim;
  }
}
