block variables

block mixins
  include ../../blocks/header/header.pug
  include ../../blocks/footer/footer.pug

doctype html
html(lang="ru")

  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title #{pageTitle}

  body

    block header
      +header({
        navbarList: [
          { text: 'О нас', href: '#mock-address' },
          { text: 'Услуги', dropdownList: [
            { text: 'Услуга 1', href: '#mock-address' },
            { text: 'Услуга 2', href: '#mock-address' },
            { text: 'Услуга 3', href: '#mock-address' }
          ] },
          { text: 'Вакансии', href: '#mock-address' },
          { text: 'Новости', href: '#mock-address' },
          { text: 'Соглашения', dropdownList: [
            { text: 'Соглашение 1', href: '#mock-address' },
            { text: 'Соглашение 2', href: '#mock-address' }
          ] },
        ],
        fstBtn: { text: 'Войти', href: '#mock-address' },
        sndBtn: { text: 'Зарегистрироваться', href: '#mock-address' },
      })

    block content

    block footer
      +footer({
        mainText: 'Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»',
        navbarItems: [
          { title: 'Навигация', list: [
            { text: 'О нас', href: '#mock-address' },
            { text: 'Новости', href: '#mock-address' },
            { text: 'Служба поддержки', href: '#mock-address' },
            { text: 'Услуги', href: '#mock-address' }
          ] },
          { title: 'О нас', list: [
            { text: 'О сервисе', href: '#mock-address' },
            { text: 'Наша команда', href: '#mock-address' },
            { text: 'Вакансии', href: '#mock-address' },
            { text: 'Инвесторы', href: '#mock-address' }
          ] },
          { title: 'Служба поддержки', list: [
            { text: 'Соглашения', href: '#mock-address' },
            { text: 'Сообщества', href: '#mock-address' },
            { text: 'Связь с нами', href: '#mock-address' }
          ] },
        ],
        subscription: {
          title: 'Подписка',
          text: 'Получайте специальные предложения и новости сервиса',
          href: '#mock-address',
        },
        copyrightText: 'Toxin отель. Все права защищены.',
        twitterHref: '#mock-address',
        facebookHref: '#mock-address',
        instagramHref: '#mock-address',
      })

    block scripts
      script(src="../../scripts/main.js")
