@import '../../styles/variables';

.card-signin {
  width: 100%;
  max-width: 38rem;
  max-height: 35.8rem;
  padding: 4rem 1rem 3rem;
  background: $color_back;
  border: 0.1rem solid $color_main-10;
  border-radius: 0.4rem;
  box-shadow: 0 0 2.5rem $color_main-25;

  &__form {
    max-width: 32rem;
    margin: auto;
  }

  &__title {
    margin-bottom: 2rem;
    line-height: 3rem;
  }

  &__form-item {
    margin-bottom: 2rem;
  }

  &__form-subitem {
    margin-bottom: 1rem;
  }

  &__form-button {
    height: 4.4rem;
    margin-bottom: 3rem;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 32rem;
    height: 4.4rem;
    margin: auto;
  }

  &__footer-button {
    display: inline-block;
    width: 9.9rem;
    height: 4.4rem;
  }
}
