@import 'node_modules/air-datepicker/dist/css/datepicker';

@import '../../styles/variables';

.dropdown-date {
  width: 100%;

  &__inputs {
    display: flex;
    justify-content: space-between;
  }

  &__input {
    position: relative;
    flex: 1;
    max-width: 26.7rem;

    &_size_small {
      max-width: 15rem;
    }
  }

  &__datepicker.datepicker {
    box-sizing: border-box;
    width: 32rem;
    padding: 2rem;
    border: 0.1rem solid $color_main-25;
    border-radius: 0.4rem;
    box-shadow: 0 1rem 2rem $color_main-5;
    color: $color_main;
    font-family: $font-family_h3;
    font-size: $font-size_h3;
    user-select: none;

    .datepicker--pointer {
      display: none;
    }

    .datepicker--nav {
      min-height: 2.4rem;
      margin-bottom: 3rem;
      padding: 0;
      border: 0;
    }

    .datepicker--nav-title {
      width: max-content;
      font-family: $font-family_h2;
      font-size: $font-size_h2;
      font-weight: bold;

      &:hover {
        background: $gradient_first-25;
      }
    }

    .datepicker--nav-action {
      width: max-content;
      color: $color_first;

      &:hover {
        background: none;
        opacity: 0.5;
      }
    }

    .datepicker--content {
      padding: 0;
    }

    .datepicker--days-names {
      margin: 0;
    }

    .datepicker--day-name {
      height: 4rem;
      color: $color_first;
      font-family: $font-family_h3;
      font-size: $font-size_h3;
      font-weight: bold;
      text-transform: capitalize;
    }

    .datepicker--cell {
      color: $color_main-50;

      &:hover {
        background: $gradient_first-25;
      }
    }

    .datepicker--cell-day {
      height: 4rem;
      border-radius: 50%;
    }

    .datepicker--cell-day.-other-month-,
    .datepicker--cell-year.-other-decade- {
      color: $color_main-25;
    }

    .datepicker--cell.-current- {
      background: $gradient_second;
      color: $color_background;
      font-weight: bold;
    }

    .datepicker--cell.-in-range- {
      background: $gradient_first-25;
      border-radius: 0;
    }

    .datepicker--cell.-range-from- {
      background: $gradient_first;
    }

    .datepicker--cell.-range-to- {
      background: $gradient_first;
    }

    .datepicker--cell.-range-from-::after {
      content: '';
      position: absolute;
      right: -1px;
      z-index: -1;
      display: inline-block;
      width: 2rem;
      height: 4rem;
      background: $gradient_first-25;
    }

    .datepicker--cell.-selected-.-range-from-::after {
      right: 0;
    }

    .datepicker--cell.-range-to-::before {
      content: '';
      position: absolute;
      left: -1px;
      z-index: -1;
      display: inline-block;
      width: 2rem;
      height: 4rem;
      background: $gradient_first-25;
    }

    .datepicker--cell.-selected-.-range-to-::before {
      left: 0;
    }

    .datepicker--cell.-selected- {
      background: $gradient_first;
      color: $color_background;
      font-weight: bold;
    }

    .datepicker--buttons {
      justify-content: space-between;
      margin-top: 2rem;
      padding: 0;
      border: 0;
    }

    .datepicker--button {
      flex: 0;
      height: auto;
      color: $color_main-50;
      font-family: $font-family_h3;
      font-size: $font-size_h3;
      font-weight: bold;
      text-transform: uppercase;

      &:hover {
        background: none;
        opacity: 0.5;
      }
    }

    .datepicker--button[data-action='hide'] {
      color: $color_first;
    }
  }
}
