@import '../../styles/variables';

.list-checkbox {
  width: 100%;
  min-height: 6.4rem;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.4rem;
    outline: none;
  }

  &__header:hover &__icon {
    color: $color_main-75;
  }

  &__title {
    display: inline-block;
    color: $color_main;
    font-family: $font-family_h3;
    font-weight: bold;
    font-size: $font-size_h3;
    line-height: 1.5rem;
    text-transform: uppercase;
  }

  &__icon {
    display: inline-block;
    width: 4.4rem;
    text-align: center;
    color: $color_main-50;
    transition: transform 0.3s ease-in-out;

    &_active {
      transform: rotate(-180deg);
    }
  }

  &__list {
    list-style: none;
    padding-top: 1.2rem;
    transform-origin: 0 0;
    transition: all 0.3s ease-in-out;

    &_inactive {
      position: absolute;
      padding-top: 0;
      visibility: hidden;
      opacity: 0;
      transform: scaleY(0);
      transform-origin: 0 0;
    }
  }

  &__list_inactive &__item {
    margin-bottom: 0;
  }

  &__item {
    margin-bottom: 1rem;
    transition: all 0.3s ease-in-out;
  }

  .js-list-checkbox &__header {
    margin-bottom: 0;
    user-select: none;
    cursor: pointer;
  }
}
