.list-checkbox {
  width: 100%;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.6rem;
  }

  &__header:hover &__icon {
    color: $color_main-75;
  }

  &__title {
    display: inline-block;
    color: $color_main;
    font-family: $font-family_h3;
    font-weight: bold;
    font-size: $font-size_h3;
    text-transform: uppercase;
  }

  &__icon {
    display: inline-block;
    color: $color_main-50;
    transition: transform 0.3s ease-in-out;

    &_rotated {
      transform: rotate(-180deg);
    }
  }

  &__list {
    list-style: none;
    transition: all 0.3s ease-in-out;

    &_inactive {
      visibility: hidden;
      height: 0;
      opacity: 0;
    }
  }

  &__list_inactive &__item {
    margin-bottom: 0;
  }

  &__item {
    margin-bottom: 1.05rem;
    transition: all 0.3s ease-in-out;
  }

  .js-list-checkbox &__header {
    user-select: none;
    cursor: pointer;
  }
}
