.list-checkbox {
  width: 100%;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.07rem;
  }

  &__title {
    display: inline-block;
    font-family: $font-family_h3;
    font-size: $font-size_h3;
    font-weight: bold;
    color: $color_main;
    text-transform: uppercase;
  }

  &__icon {
    display: inline-block;
    color: $color_main-50;
    transition: transform 0.3s ease-in-out;

    &_rotated {
      transform: rotate(-180deg);
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    transition: all 0.3s ease-in-out;

    &_inactive {
      visibility: hidden;
      height: 0;
      opacity: 0;

      .list-checkbox__item {
        margin-bottom: 0;
      }
    }
  }

  &__item {
    margin-bottom: 0.71rem;
    transition: all 0.3s ease-in-out;
  }
}

.js-list-checkbox {
  .list-checkbox__header {
    user-select: none;
    cursor: pointer;

    &:hover {
      .list-checkbox__icon {
        color: $color_main-75;
      }
    }
  }
}
