@import '../../styles/variables';

$colors_chart-circle: url('#grad1'), url('#grad2'),
  url('#grad3'), url('#grad4'), #F60000, #FF8C00,
  #FE0, #4DE94C, #3783FF, #4815AA;

.chart-circle {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  &__container {
    position: relative;
    width: min-content;
    height: min-content;
  }

  &__svg {
    height: 13rem;
    transform: rotate(90deg) scale(-1, 1);
  }

  &__path {
    stroke: $color_back;
    stroke-width: 0.03;
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    &_active {
      transform: scale(1.05);
    }

    @for $i from 1 through length($colors_chart-circle) {
      $color: nth($colors_chart-circle, $i);
      &_#{$i} {
        fill: $color;
      }
    }
  }

  &__circle {
    fill: $color_back;
  }

  &__total {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background: $color_back;
    border-radius: 50%;
    color: $color_prim;
    font-family: $font-family_h1;
    font-weight: bold;
    font-size: $font-size_h1;
    line-height: 3rem;
  }

  &__total-description {
    font-family: $font-family_h3;
    font-size: $font-size_h3;
    line-height: 1.5rem;
    text-transform: uppercase;
  }

  &__legend {
    margin: 0 0 0.5rem 2.5rem;
    list-style: none;
    color: $color_main-75;
    line-height: 2.4rem;
    text-transform: capitalize;
  }

  &__legend-mark {
    height: 1rem;
    margin-right: 0.5rem;
    transform: rotate(-90deg);
  }

  &__label {
    position: absolute;
    z-index: 1;
    display: inline-block;
    width: max-content;
    padding: 0.5rem;
    background: $color_main-75;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.5rem $color_main;
    color: $color_back;
    font-size: $font-size_h3;
    text-transform: capitalize;
    user-select: none;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    transform-origin: 0 0;
    transition: all 0.3s ease-in-out;

    &_active {
      visibility: visible;
      opacity: 1;
      transform-origin: 0 0;
      transform: scale(1);
    }
  }
}
