include ../input-field/input-field.pug
include ../button/button.pug

mixin subscription({ actionLink = '#mock-address', labelText, placeholderText })
  -
    const blockName = 'subscription';
    const wrapperClass = [blockName];

  form(class=wrapperClass, action=actionLink, method='post')
    +input-field({ inputType: 'email', labelText: labelText })(required, placeholder=placeholderText)
    span(class=`${blockName}__button`)
      +button({ buttonType: 'submit', buttonStyle: 'text-gradient', withArrow: true })
